// @mixin font-smoothing($value: true)
// 	@if ($value == true)    
// 		-moz-osx-font-smoothing: grayscale
// 		-webkit-font-smoothing: antialiased
// 	@else
// 		-moz-osx-font-smoothing: auto
// 		-webkit-font-smoothing: subpixel-antialiased
    
$font-body: 'Montserrat', Helvetica,"Segoe UI",Segoe,"Segoe WP",Arial,"Lucida Grande",sans-serif
$font-header: "Open Sans", Helvetica,"Segoe UI",Segoe,"Segoe WP",Arial,"Lucida Grande",sans-serif

$font-c-1: #000

$font-c-h-2: #15191b
$font-c-h-3: #292a2c

$font-c-p-2: #546672
$font-c-p-3: #999999

$font-c-subfooter: #676e73

$bround-c-2: #f2f2f2
$bround-c-3: #292a2c 
$bround-c-4: #333
$bround-c-5: #f5f5f5
$bround-c-6: #1C1C1C
$bround-c-pink: #E200BD
$bround-c-yellow: #e6d562
$bround-c-blue: #426EFF
$bround-c-light-black: #121212
$bround-c-sub-footer: #1a1a1a
$bround-c-brown-grey: rgb(206, 205, 207)
$bround-c-gradient-1: linear-gradient(135deg,#ff48a6 10%,#520881 90%)
$bround-c-gradient-2: linear-gradient(135deg, #29d5ff 10%, #6c03a8 90%)
$bround-c-gradient-3: linear-gradient(135deg,#93d522 10%,#033e8e 90%)

$dataconcepts-red: #E20D0D
$link-c: #0051DD
$spacer-c: #e0e0e0